.container {
  width: 200px;
  margin: 30px auto;
  padding: 50px;

  border: 1px solid #d6d632;
}

.search-bar {
  padding: 5px;
  
  border: 1px solid #ce1641;
}

.product-table {
  margin-top: 5px;
  padding: 5px;

  border: 1px solid #0e20a0;
}

.product-table .row-item td {
  margin: 5px 0;
  border: 1px dashed #f71212;
  border-right: none; 
}

.product-table .row-item td:last-child {
  border-right: 1px dashed #1d24b5;
  border-left: none;
}

.product-table .category-item td {
  margin: 5px 0;
  border: 1px dashed #1d24b5;
}
